<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\logs\NLog+ELK-Exemplo1-Internal.log">

  <extensions>
    <!-- Enable RabbitMQ Target -->
    <add assembly="NLog.Extension.RabbitMQ.Target" />
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="NLog.Extension.RabbitMQ.Examples.WebApi"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>

    <target name="Console" xsi:type="Console">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
        <attribute name="appName" layout="SESC-BASE" />
        <attribute name="eventProperties" encode="false">
          <layout type="JsonLayout" includeAllProperties="true" maxRecursionLimit="2" />
        </attribute>
        <attribute name="level" layout="${uppercase:${level}}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="exception" layout="${exception:format=tostring}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="machineName" layout="${machinename}" />
      </layout>
    </target>

    <target name="ELK"
            xsi:type="RabbitMQ"
            username="logUser"
            password="logPwd"
            routingkey="ApplicationLog"
            hostname="rabbitmqlog"
            virtualhost="EnterpriseLog">

      <layout xsi:type="JsonLayout">
        <attribute name="date" layout="${longdate}" />
        <attribute name="eventId" layout="${event-properties:item=EventId_Id}"/>
        <attribute name="level" layout="${uppercase:${level}}" />
        <attribute name="orderId" layout="${event-properties:orderid}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="exception" layout="${exception:format=tostring}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="url" layout="${aspnet-request-url}" />
        <attribute name="machineName" layout="${local-machine}" />
        <attribute name="action" layout="${aspnet-mvc-action}" />
      </layout>
    </target>
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="Console" />
  </rules>
</nlog>